*.iml
.gradle/
/.idea
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
/app/release/
*.apk
*.aab
*.jks
*.keystore
**/schemas/
**/bin/
**/gen/
**/out/
.navigation/
Thumbs.db
*.log
*.tmp
*.swp
*~
.DS_Store
**/proguardMapping.txt
*.zip
**/mapping/

